@import "nav.css";
@import "imgPrincipal.css";
@import "secaoImagens.css";
*{
    margin: 0%;
    padding: 0%;
}
main {
    margin-top: 16px;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}
.titulo {
    text-align: center;
    color: olivedrab;
}
.sobre{
    width: 900px;
    text-align: center;
    height: auto;
    margin-left: 510px;
}


